.flex-container-1 div,
.flex-container-2 div,
.flex-container-3 div,
.flex-container-4 div,
.flex-container-5 div
 {
	width: 100px;
	height: 100px;
	background: orangered;
	border: 2px solid #333;
}
/*выравнивание по горизонтали*/
.flex-container-1 {
	display: flex;
	background: lightgray;
	justify-content: flex-start;
	justify-content: flex-end;
	justify-content: center;
	justify-content: space-between;
	justify-content: space-around;
}
.flex-container-2 div:nth-child(2) {
	height: 200px;
}
.flex-container-2 {
	height: 300px;
	display: flex;
	background: lightgray;
	justify-content: center;

align-items:stretch;
align-items:center;
align-items: flex-end;
align-items: flex-start;
 }
 /*направление главной оси*/
 .flex-container-3 {
display: flex;
background: lightgray;
flex-direction: row;
/*flex-direction: row-reverse;*/
flex-direction: column;
/*flex-direction: column-reverse;*/
 }
 .flex-container-4 {
 	width: 300px;
 	display: flex;
 	background: lightgray;

 flex-wrap: nowrap;
flex-wrap: wrap-reverse;
flex-wrap: wrap;
 }
 /*многострочное выравнивание*/
 .flex-container-5 {
 	width: 250px;
 	display: flex;
 	background: lightgray;

 height: 1000px;
 flex-wrap: wrap;
 flex-direction: row;
 justify-content: space-around;
 align-content: stretch;
 align-content: flex-start;
 align-content: flex-end;
 align-content: center;
 align-content: space-around;
 align-content: space-between;
 }
